<footer class="text-new no-borders grey">
    <div>
        <h2 class="title-new">Follow us</h2>

        <div class="separator-button"></div>
        <div>
            <a class="w-clearfix w-inline-block small-button social facebook" href="#">
                <div class="icon-button">
                    <div class="icon ion-social-facebook"></div>
                </div>
                <div class="text-button">FACEBOOK</div>
            </a>
            <a class="w-clearfix w-inline-block small-button social twitter" href="#">
                <div class="icon-button">
                    <div class="icon ion-social-twitter"></div>
                </div>
                <div class="text-button">TWITTER</div>
            </a>
            <a class="w-clearfix w-inline-block small-button social last" href="#">
                <div class="icon-button">
                    <div class="icon ion-social-googleplus"></div>
                </div>
                <div class="text-button">GOOGLE</div>
            </a>
        </div>
    </div>
</footer>